@model MVC_DesignPattern.ViewModel.VMBase64
@{
    ViewBag.Title = "Decode";
}
<h2>
    Decode</h2>
<fieldset>
    <legend>Encode decode String Base64</legend>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(c => c.Type)
            @Html.DisplayFor(c => c.Type)
        </div>
        <div>
            <label for="txtSource">
                Source String</label>
            @Html.TextAreaFor(c => c.Source, new { @rows = 10, style = "width: 100%" })
        </div>
        <div>
            <label for="lblDestination">
                Base64 String</label>
            @Html.TextAreaFor(c => c.Destination, new { @rows = 10, style = "width: 100%" })
        </div>
        <div>
            <label for="chkUsingJS">Using Javascript Client Parser</label>
            <input id="chkUsingJS" type="checkbox" /> Using Javascript
        </div>
        <div>
            <input id="btnSubmit" type="button" value="Submit" />
        </div>
    }
</fieldset>
@section scripts{
    <script src="../../Scripts/Base64/Base64.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                if ($('#chkUsingJS').is(':checked')) {
                    decode64($('#Source'), $('#Destination'));
                } else {
                    switch ($('#ddlType').val()) {
                        case "StringToBase64":
                            $('form').attr('action', '@Url.Action("Encode", "Base64")');
                            break;
                        case "Base64ToString":
                            $('form').attr('action', '@Url.Action("Decode", "Base64")');
                            break;
                    }
                    $('form').submit();
                }
            });
        });
    </script>
}
