@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to learn english communicate...
            </p>
        </div>
    </section>
}
<h3>Please select the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Topic Group</h5>
        All group of topic.
        @Html.ActionLink("Details", "TopicGroup", "LessionLearn")
    </li>

    <li class="two">
        <h5>Chapter</h5>
        All chapter of topic.
        @Html.ActionLink("Details", "Chapter", "LessionLearn")
    </li>

    <li class="three">
        <h5>Lession Group</h5>
        All group of lession.
        @Html.ActionLink("Details", "LessionGroup", "LessionLearn")
    </li>

    <li class="four">
        <h5>Lession</h5>
        All lession.
        @Html.ActionLink("Details", "Lession", "LessionLearn")
    </li>
</ol>
<div class="box-model" data-bind="with: SelectedItem">
    <label for="txtName">Category name: </label>
    <input type="text" id="txtName" data-bind="value: Name" />
    <label for="txtUrl">Url: </label>
    <input type="text" id="txtUrl" data-bind="value: Url" />
    <label for="txtOrder">Order: </label>
    <input type="text" id="txtOrder" data-bind="value: Order" />
    <label for="chkStatus">Status: </label>
    <input type="checkbox" id="chkStatus" data-bind="checked: Status" />
</div>
<div>
    <p>Test knockoutjs</p>
    <ul data-bind="foreach: DataSource">
        <li style="list-style: none"><a data-bind="text: Name, id: Id, click: $parent.SelectItem" href="#"></a></li>
    </ul>
</div>

@section scripts{
    <script src="../../Scripts/jquery-2.0.3.js" type="text/javascript"></script>
    <script src="../../Scripts/knockout-2.3.0.debug.js" type="text/javascript"></script>
    <script src="../../Scripts/KO/ko-category.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            vmCategory.Load();
        });
    </script>
}